<div class="!bg-slate-100 !pt-12">
  <h1 class="!text-center !font-bold md:!mb-12 md:!text-5xl !text-4xl !leading-loose !tracking-wider">Our Total green impact</h1>
  <div class="!flex !flex-col md:!flex-row !justify-center !divide-y ">
    <div class="!flex !flex-col !items-center !p-16">
      <div class="!w-16 !h-16 !mb-8">
        <img
          class="!w-full !h-full !object-cover"
          src="https://picsum.photos/600/600?random1"
          alt="">
      </div>
      <h1 class="!text-3xl !font-bold !mb-2">3,927 kg</h1>
      <p class="!text-2xl">of CO2 saved</p>
    </div>

    <div class="!flex !flex-col !items-center !p-16">
      <div class="!w-16 !h-16 !mb-8">
        <img
          class="!w-full !h-full !object-cover"
          src="https://picsum.photos/600/600?random1"
          alt="">
      </div>
      <h1 class="!text-3xl !font-bold !mb-2">3,927 kg</h1>
      <p class="!text-2xl">of CO2 saved</p>
    </div>

    <div class="!flex !flex-col !items-center !p-16">
      <div class="!w-16 !h-16 !mb-8">
        <img
          class="!w-full !h-full !object-cover"
          src="https://picsum.photos/600/600?random1"
          alt="">
      </div>
      <h1 class="!text-3xl !font-bold !mb-2">3,927 kg</h1>
      <p class="!text-2xl">of CO2 saved</p>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Info banner Section",
    "class": "section",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_line_separator",
        "default": true,
        "label": "t:sections.header.settings.show_line_separator.label"
      }
    ],
    "presets": [
      {
        "name": "Info banner Section"
      }
    ]
  }
{% endschema %}